<h1>Login</h1>

<form action="/api/users/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit" class="btn">Login</button>
</form>

<!-- Sign Up Link -->
<p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
